*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.menu li{
    display: inline-block;
    padding: 20px;
    padding-top: 0%;
    margin-top: 10px;
}
.menu{
    text-align: center;
    background-color:black;
    color:white;
    grid-area: nav;
    
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
    color:aqua;
    padding: 30px;
}
.menu li a:hover{
    background-color: white;
    color:black;
}

footer section{
    display: flex;
    flex-direction:row;
    text-align: justify;
    justify-content: space-around;
    background-color: skyblue;
    padding: 1rem;
}
.centrado{
    text-align: center;
    margin: 1rem;
}
h1{
    font-size: 36px;
    grid-area: h1;
}
h2{
    font-size: 32px;
    grid-area: h2;
}
p{
    font-size: 18px;
    grid-area: p;
}
.lista{
    text-align:left;
    font-size:20px;
    display: inline-block;
    padding: 1rem;
}
.subir{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.subir a{
    font-size: 60px;
    text-decoration: none;
}
.tutoriales_cont{
    padding: 1rem;
    margin: 1rem;
    border: black solid 0.15rem;
    width: 350px;
    height: 350px;
    overflow:hidden;
}
.tutoriales{
    display: inline-block;
}
.sec_tutoriales{
    text-align: center;
}
.tutoriales a{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-inline: 90px;
    text-decoration: none;
    color:aqua;
}
.tutoriales a:hover{
    background-color: white;
    color:black;
    border: black solid 0.15rem;
    font-weight: bolder;
    font-size: 18px;
}
.justificado{
    text-align: justify;
    margin: 1rem;
}
.contacto_link{
    display: flex;
    justify-content: center;
}

img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-area: img;
}
