@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif; }

.menu li {
  display: inline-block;
  padding: 20px;
  padding-top: 0%;
  margin-top: 10px; }

.menu {
  text-align: center;
  background-color: #e0e0e0;
  color: white;
  width: 100%; }

.icono {
  color: black; }

.menu li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 30px; }

.menu li a:hover {
  background-color: white;
  color: black; }

footer section {
  display: flex;
  flex-direction: row;
  text-align: justify;
  justify-content: space-around;
  background-color: #e0e0e0;
  padding: 1rem; }

.centrado {
  text-align: center;
  margin: 1rem; }

h1 {
  font-size: 36px;
  font-weight: 500;
  color: #7E57C2; }

h2 {
  font-size: 32px;
  font-weight: 500;
  color: #33A843; }

h3 {
  font-size: 30px;
  font-weight: 500;
  color: #046BD2; }

p {
  font-size: 20px; }

.lista {
  text-align: left;
  font-size: 20px;
  display: inline-block;
  padding: 1rem;
  list-style-type: "✅ "; }

.sublista {
  text-align: left;
  font-size: 20px;
  display: inline-block;
  padding: 1rem;
  list-style-type: "👉 "; }

.subir {
  position: fixed;
  bottom: 10px;
  right: 10px; }

.subir a {
  font-size: 60px;
  text-decoration: none; }

.tutoriales_cont {
  padding: 1rem;
  margin: 1rem;
  border: black solid 0.15rem;
  width: 350px;
  height: 350px;
  overflow: hidden; }

.tutoriales {
  display: inline-block; }

.sec_tutoriales {
  text-align: center;
  padding: 1rem; }

.tutoriales a {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-inline: 90px;
  text-decoration: none;
  color: aqua; }

.tutoriales a:hover {
  background-color: white;
  color: black;
  border: black solid 0.15rem;
  font-weight: bolder;
  font-size: 18px; }

.justificado {
  text-align: justify;
  margin: 1rem; }

.enlace {
  text-decoration: none;
  color: #33A843; }

p {
  padding: 1rem; }

@media only screen and (max-width: 480px) {
  img {
    width: 95%;
    height: 95%; }
  .sec_tutoriales {
    padding: 0;
    padding-bottom: 1rem; }
  .tutoriales_cont {
    width: 330px;
    height: 330px; }
  .tutoriales a:hover {
    font-size: 16px;
    margin: 0; } }
