@import "variables";
.menu li{
    display: inline-block;
    padding: 20px;
    padding-top: 0%;
    margin-top: 10px;
}
.menu{
    text-align: center;
    background-color: $color_gris;
    color:white;
    width: 100%;
    
}
.icono{
    color:black;
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 30px;
}
.menu li a:hover{
    background-color: white;
    color:black;
}